/*detta röda är html taggar du targetar*/
body{

  font-family: sans-serif;
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;

}

h1 {
  background-color: inherit;
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}
/*detta är en html class, när du targetar en class måste du skriva punkt framför*/
.inputSection {
  /*height: 32px;
  */

  background-color: inherit;
  margin: 50px 0px 80px 0px;
  width: 400px;

}

.inputs {
  background-color: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {

  height: 20px;
  font-weight: lighter;
  font-family: sans-serif;
  background-color:#eeeeee;
  margin-top: 10px;

}

.Something {
    font-family: sans-serif;
    font-weight: lighter;
    background-color: inherit;
    height: 40px;
}

.addOption {
  margin-top: 10px;
  background-color: #f44283;
  font-family: sans-serif;
  font-weight: lighter;
  padding: 10px 32px;
  text-align: center;
}

.submit {
  font-family: sans-serif;
  font-weight:lighter;
  background-color:#f44283;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 11px;

}

.resultSection {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-family: sans-serif;
  font-weight:lighter;
  padding: 10px 32px;
  text-align: center;

}
